<head>
	<title>{{ site.title }}</title>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
  <link rel="stylesheet" href="{{ "assets/css/bootstrap.min.css" | relative_url }}" />
	<!--[if lte IE 8]><script src="{{ "assets/js/ie/html5shiv.js" | relative_url }}"></script><![endif]-->
	<link rel="stylesheet" href="{{ "assets/css/main.css" | relative_url }}" />
  <link rel="stylesheet" href="{{ "assets/css/galleries.css" | relative_url }}" />
  <link rel="stylesheet" href="{{ "/assets/css/selena.css" | prepend: site.baseurl }}">
  <link rel="stylesheet" href="{{ "/assets/css/magnificpopup.css" | prepend: site.baseurl }}">

	<!--[if lte IE 9]><link rel="stylesheet" href="{{ "assets/css/ie9.css" | relative_url }}" /><![endif]-->
	<!--[if lte IE 8]><link rel="stylesheet" href="{{ "assets/css/ie8.css" | relative_url }}" /><![endif]-->
  <!-- Custom Theme JavaScript -->
  <script src="{{ "assets/js/main.min.js" | absolute_url }}"></script>
  <script type="text/javascript">
    var eventImages = [ '{{ "/gallery/albums/alb10.jpg" | absolute_url }}',
                        '{{ "/gallery/albums/alb11.jpg" | absolute_url }}',
                        '{{ "/gallery/albums/alb12.jpg" | absolute_url }}',
                        '{{ "/gallery/albums/alb13.jpg" | absolute_url }}',
                        '{{ "/gallery/albums/alb14.jpg" | absolute_url }}'
                      ];
    var eventOne = [ '{{ "/gallery/archive/g10/bg1.png" | absolute_url }}',
                            '{{ "/gallery/archive/g10/bg2.png" | absolute_url }}',
                            '{{ "/gallery/archive/g10/bg3.jpg" | absolute_url }}'
                          ];
    var eventTwo = [ '{{ "/gallery/archive/g10/bg1.png" | absolute_url }}',
                            '{{ "/gallery/archive/g10/bg2.png" | absolute_url }}',
                            '{{ "/gallery/archive/g10/bg3.jpg" | absolute_url }}'
                          ];
    var eventThree = [ '{{ "/gallery/archive/g10/bg1.jpg" | absolute_url }}',
                            '{{ "/gallery/archive/g10/bg2.png" | absolute_url }}',
                            '{{ "/gallery/archive/g10/bg3.png" | absolute_url }}'
                          ];
    var eventFour = [ '{{ "/gallery/archive/g10/bg1.jpg" | absolute_url }}',
                            '{{ "/gallery/archive/g10/bg2.png" | absolute_url }}',
                            '{{ "/gallery/archive/g10/bg3.png" | absolute_url }}'
                          ];
    var eventFive = [ '{{ "/gallery/archive/g10/bg1.png" | absolute_url }}',
                            '{{ "/gallery/archive/g10/bg2.png" | absolute_url }}',
                            '{{ "/gallery/archive/g10/bg3.jpg" | absolute_url }}'
                          ];
    var galleryImages = [ '{{ "/gallery/albums/alb01.png" | absolute_url }}',
                          '{{ "/gallery/albums/alb02.png" | absolute_url }}',
                          '{{ "/gallery/albums/alb03.png" | absolute_url }}',
                          '{{ "/gallery/albums/alb04.png" | absolute_url }}',
                          '{{ "/gallery/albums/alb05.png" | absolute_url }}',
                          '{{ "/gallery/albums/alb06.png" | absolute_url }}',
                          '{{ "/gallery/albums/alb07.png" | absolute_url }}',
                          '{{ "/gallery/albums/alb08.png" | absolute_url }}',
                          '{{ "/gallery/albums/alb09.png" | absolute_url }}',
                        ];
    var corporateImages = [ '{{ "/gallery/archive/g01/bg1.jpg" | absolute_url }}',
                            '{{ "/gallery/archive/g01/bg2.jpg" | absolute_url }}',
                            '{{ "/gallery/archive/g01/bg3.jpg" | absolute_url }}'
                          ];
    var lifestyleImages = [ '{{ "/gallery/archive/g02/bg1.jpg" | absolute_url }}',
                            '{{ "/gallery/archive/g02/bg2.jpg" | absolute_url }}',
                            '{{ "/gallery/archive/g02/bg3.jpg" | absolute_url }}'
                          ];
    var womenImages = [ '{{ "/gallery/archive/g01/bg3.jpg" | absolute_url }}',
                            '{{ "/gallery/archive/g03/bg2.jpg" | absolute_url }}',
                            '{{ "/gallery/archive/g03/bg3.jpg" | absolute_url }}'
                          ];
    var weddingsImages = [ '{{ "/gallery/archive/g04/bg1.jpg" | absolute_url }}',
                            '{{ "/gallery/archive/g04/bg2.jpg" | absolute_url }}',
                            '{{ "/gallery/archive/g04/bg3.jpg" | absolute_url }}'
                          ];
    var menImages = [ '{{ "/gallery/archive/g05/bg1.jpg" | absolute_url }}',
                            '{{ "/gallery/archive/g05/bg2.jpg" | absolute_url }}',
                            '{{ "/gallery/archive/g05/bg3.jpg" | absolute_url }}'
                          ];
    var familly = [ '{{ "/gallery/archive/g06/bg1.jpg" | absolute_url }}',
                            '{{ "/gallery/archive/g06/bg2.jpg" | absolute_url }}',
                            '{{ "/gallery/archive/g06/bg3.jpg" | absolute_url }}'
                          ];
    var headshotsImages = [ '{{ "/gallery/archive/g07/bg1.jpg" | absolute_url }}',
                            '{{ "/gallery/archive/g07/bg2.jpg" | absolute_url }}',
                            '{{ "/gallery/archive/g07/bg3.jpg" | absolute_url }}'
                          ];
    var foodImages = [ '{{ "/gallery/archive/g08/bg1.jpg" | absolute_url }}',
                            '{{ "/gallery/archive/g08/bg2.jpg" | absolute_url }}',
                            '{{ "/gallery/archive/g08/bg3.jpg" | absolute_url }}'
                          ];
    var studioImages = [ '{{ "/gallery/archive/g09/bg1.jpg" | absolute_url }}',
                            '{{ "/gallery/archive/g09/bg2.jpg" | absolute_url }}',
                            '{{ "/gallery/archive/g09/bg3.jpg" | absolute_url }}'
                          ];


    function preload() {
        for (var i = 0; i < arguments.length; i++) {
            images[i] = new Image();
            images[i].src = preload.arguments[i];
        }
    }

    //-- usage --//
    preload(eventImages);
    preload(galleryImages);
  </script>
</head>
